.DMbody {
	background-color: #F3EA03 !important;
	font-family: Montserrat, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;
}
.DMmenuitem {
	padding-top: 15px;
	font-size: 1.5em;
}
.DMprice {
	font-size: .9em;
	color: #8E0002;
	font-style: italic;
	font-weight: 400;
}
.DMitem {
	font-family: Roboto;
}
.DMTitle {
	font-size: 1.5em;
	padding: 5px;
	background-color: #FFF854;
	color: rgba(0,0,0,0.6);
	text-transform: uppercase;
	border-bottom:solid 1px rgba(0,0,0,0.50);
}
.DM-StoreName {
	font: 50px 'Roboto';
	text-transform: uppercase;
}
.DMCategory{
	padding-bottom:25px;
	background-color:#EFFFAC;
	}