@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.bttn {
	border: none;
	padding: 0.6em 1.2em;
	background: red;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	outline: none;
	max-width: 200px;
	margin-bottom: 5px;
}
.bttn:hover {
	background: #A5281B;
}
.bttn:active {
	background-color: #A5281B;
}
.checkout-modal {
	margin::20px;
	width: 75vw;
	height: 90vh;
	/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;*/
	position: fixed;
	top: 10%;
	left: 15%;
	display: none;
	background: #e74c3c;
	color: white;
	height: auto;
	z-index: 20000;
/*	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.20);*/
}
.checkout-container-orderdata {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.checkout-itemlist {
	height: 230px;
	padding: 0px;
}

.checkout-customerdetails, .checkout-paymentdetails, .creditcarddetails {
	padding: 20px;
}
.checkout-total {
	height: 21px;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: rgba(234,100,86,1.00);
	border-bottom: dotted 1px rgba(255,255,255,.40);
}
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
/*--Ribbon--*/
.ribbon {
	width: 150px;
	position: relative;
	background: rgba(234,100,86,1);
	color: #fff;
	text-align: center;
	padding: 0em 0em; /* Adjust to suit */
	margin: 1em auto 2em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -.7em;
	border: 1.5em solid rgba(165,0,0,.20);
	z-index: -1;
}
.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -.7em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}
/*--Table--*/

.tabbl {
	width: 100%;
	border: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 100;
}
.tabbl tbody {
	overflow-y: scroll;
	height: 200px;
	width: 100%;
	position: absolute;
}
.tabbl tr {
	width: 100%;
	display: inline-table;
}
.tabbl td, th {
	width: 25%;
}
.tabbl td:nth-child(1), th:nth-child(1) {
	width: 45%;
}
.tabbl td:nth-child(4), th:nth-child(4) {
	width: 5%;
}
.tabbl th {
	background-color: maroon;
}
.qtyy {
	border-radius: 5px;
	outline: none;
	color: black;
	width: 3em;
	font-weight: 500;
	border: 0px solid;
	box-shadow: -1px -1px 2px 1px rgba(200,0,3,1.00);
	text-align: center;
}
.qtyy:focus, .textfld:focus {
	background-color: rgba(255,215,0,1.50);
}
.textfld {
	border-radius: 3px;
	outline: none;
	color: black;
	text-indent: 5px;
	font-weight: 500;
	border: 0px solid;
	padding: 2px;
	box-shadow: -1px -1px 2px 1px rgba(200,0,3,1.00);
}
.bgm {
	background-color: rgba(238,238,238,0.20);
	border-radius: 5px;
}
.cclock {
	text-indent: 20px;
	width: 13em;
}
.cclock + .glyphicon {
	position: relative;
	left: -175px;
	color: lightgrey;
	font-size: .8em;
}
@media(min-width:1800px) {
.checkout-modal {
	margin:20px;
	width: 900px;
	top: 10%;
	left: 30%;
	right:30%;
}
}
@media(max-width:700px) {
.checkout-modal {
	width: 100%;
	height: auto;
	left: 0%;
	top:0%;
	padding:0px;

}

.checkout-customerdetails, .checkout-paymentdetails, .creditcarddetails {
	padding: 2px;
}
.textfld {
	border-radius: 2px;
	padding: 1px;
}
.tabbl tr {
	width: 95%;
	display: inline-table;
}
.tabbl td, th {
	width: 20%;
}
.tabbl td:nth-child(1), th:nth-child(1) {
	width: 40%;
}
.tabbl td:nth-child(4), th:nth-child(4) {
	width: 5%;
}
.bttn {
	outline: none;
	max-width: 150px;
}
}
