<template name="cart">


<div align="center" class="checkout-modal" id="checkout-modal" >
<!--  <div class="ribbon hidden-sm hidden-xs" align="center">
    <h4>TOGO ORDER</h4>
  </div>-->
  <div class="checkout-itemlist" align="center">
    <div>
      <table  class="tabbl table-condensed table-responsive">
        <thead>
          <tr>
            <th style="text-align:left; color:white;">Item</th>
            <th style="text-align:left; color:white;">Qty</th>
            <th style="text-align:left; color:white;">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         {{#each shopCart}} 
          <tr>
            <td style="color:white;text-align:left">{{Name}}</td>
            <td style="color:white;text-align:left">
              <input name="product_{{product}}" value="{{qty}}" type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="qtyy" id="product_in_cart"  size="2" maxlength="2" border="0">
            </td>
            <td style="color:white;text-align:left">{{currency price}}</td>
            <td style="text-align:left; color:white;" ><button class="checkout__action removecart" ><i class="icon small glyphicon glyphicon-trash"></i></button></td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="checkout-total">
    <table  class=" table-condensed bgm" width="100%" border="0" align="right" cellpadding="2" cellspacing="2">
      <tr >
        <td style="color:white" ></td>
        <td style="color:white" ></td>
        <td style="color:white" >Total ( {{shopCart.taxMessage}} )</td>
        <td style="color:white" > {{currency shopCart.total}} </td>
      </tr>
    </table>
  </div>
  <div class="checkout-container-orderdata" align="center">
    <div class="checkout-customerdetails">
      <table  class=" table-condensed" width="100%" border="0" align="right" cellpadding="2" cellspacing="2">

    <tr>
      <td style="text-align:right; padding:8px; color:white; " >Name </td>
      <td style="text-align:left"><input type="text" class="box textfld" id="inputContactName" name="contactName" style="text-align:left" required>&nbsp;<sub style="color:white;">*</sub></td>
    </tr>
    <tr>
      <td style="text-align:right; padding:8px; color:white; " >Mobile </td>
       <td style="text-align:left"><input  type="tel" class="box textfld" id="inputPhoneNumber" name="phoneNumber"  style="text-align:left" required >&nbsp;<sub style="color:white">*</sub></td>
    </tr>
    <tr>
      <td style="text-align:right; padding:8px; color:white; "> Email </td>
      <td style="text-align:left"><input type="email" class="box textfld" id="inputEmail" name="email"  style="text-align:left" required>&nbsp;<sub style="color:white">*</sub></td>
    </tr>
    <tr>
      <td style="text-align:right; padding:8px; color:white; ">Special Instruction</td>
      <td style="text-align:left"> <input type="text" class="box textfld" id="inputMessageToKitchen"  maxlength="44" name="messageToKitchen"  style="text-align:left" wrap="hard"></td>
    </tr>
      </table>
    </div>
    <div class="checkout-paymentdetails">
      <table  class="table-condensed" width="100%" border="0" align="left" cellpadding="2" cellspacing="2">
        <tr>
          <td width="7"><input  type="radio" name="paymentOption" value="onPickup"  id="inputRadioPickUp" checked></td>
          <td style="color:white;text-align:left;" nowrap>&nbsp;Pay On Pickup</td>
        </tr>
        <tr>
          <td ><input type="radio" name="paymentOption"  value="now" id="inputRadioNow" ></td>
          <td  style="color:white; text-align:left;" nowrap>&nbsp;Pay Now</td>
        </tr>
      </table>
    </div>
    <!--Credit Card Details-->
    <div id="creditcarddetails" class="creditcarddetails" style="background-color: rgba(227,48,29,0.20);display:none;">
      <table  class=" table-condensed" border="0" align="right" cellpadding="2" cellspacing="2" >
        <tr  class="">
          <td colspan="2"><span class="small active" style="color:rgba(255,255,0,0.80);">Your Credit Card is securely handled by our Payment Processor.</span></td>
        </tr>
        <tr >
            <td style="text-align:right; padding:8px; color:white; " nowrap>Card Number</td>
            <td style="text-align:left">
                <input type="text" onClick="this.setSelectionRange(0, this.value.length)" class="box textfld cclock" id="inputCardNumber" name="cardNumber"  maxlength="16" size="20" style="text-align:left" required>&nbsp;<sub style="color:white">*</sub>
            </td>
        </tr>
        <tr >
            <td style="text-align:right; padding:8px; color:white;">Expiration</td>
            <td style="text-align:left">
              <input type="text" class="box textfld" id="inputCardExpiryMonth" name="cardExpiryMonth"  maxlength="2" size="2" placeholder= "MM" style="text-align:left" required>
              <input type="text" class="box textfld" id="inputCardExpiryYear" name="cardExpiryYear"  maxlength="4" size="4" placeholder= "YYYY" style="text-align:left" required>&nbsp;<sub style="color:white">*</sub>
           </td>       
        </tr>
  
        <tr >
            <td style="text-align:right; padding:8px; color:white;" >CVC</td>
            <td style="text-align:left"><input type="text" class="box textfld" id="inputCVC" name="cardCVC"  maxlength="4" size="4" style="text-align:left" required>&nbsp;<sub style="color:white">*</sub></td>
        </tr>              


      </table>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <td>
        <span id='contactInfoError' style="color:rgba(255,255,0,0.80);" align='center'></span>
      </td>
    </tr>
    </table>
  </div>
  <div align="center" >
    <button type="button" class="btn btn-link" id="idPlaceOrder" style="color:white">Place Order</button>
    <button type="button" class="btn btn-link" id="checkout-trigger3" style="color:white">Close</button>
  </div>
</div>

<div align="center" class="nav navbar-fixed-bottom" style="background-color:gold;padding:10px">
  <button id="checkout-trigger" class="bttn">Togo Order</button>
</div>
<script type="application/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>

$(document).ready(function(){
    $("#checkout-trigger, #checkout-trigger3").click(function(){
   $("#checkout-modal").slideToggle('fast');
    });
  $("#inputRadioNow").click(function(){
    
    $("#creditcarddetails").show('slow');
});
$("#inputRadioPickUp").click(function(){
    
    $("#creditcarddetails").hide('slow');
});
});
</script>





</template>