<template name="digitalMenu">

<div class="DMbody" >

<div class="container-fluid">
  <h1 align="center" class="DM-StoreName"><strong>Chowpaaty Chaat </strong></h1>
  
     {{#each getSettingsMulti "category_menu"}}

      {{#if isMenuAvailable Value}} 

        <div class="DMCategory">
          <h4 align="center" class="DMTitle">{{Value}}  </h4>
           <div>

            {{{getFormatedMenu Value}}}

          </div>
       </div>

      {{/if}}

      {{/each}}



<div align="center" style=" font-size: 2em; color: #8E0002; font-style: italic; font-weight: 400;" >Powered by  Websheets&#8482;</div>

</div>
</div>


</template>